<tr>
  <%= form_with model: user, class: "user" do |form| %>
    <td class='align-baseline'>
      <%= link_to user.email, "mailto:#{user.email}" %>
    </td>
    <td class='align-baseline'>
      <%= form.select :role, user_roles_hash, {}, class: 'form-select'%>
    </td>
    <td class='align-baseline'>
      <%= form.select :status, user_statuses_hash, {}, class: 'form-select' %>
    </td>
    <td class='align-baseline'>
      <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
    </td>
  <% end %>
</tr>
