<%= form_with model: user, class: "user" do |form| %>
  <div class="user__fields">
    <div class="user__email">
      <%= link_to user.email, "mailto:#{user.email}" %>
    </div>

    <div class="user__role">
      <%= form.select :role, roles_hash %>
    </div>

    <div class="user__status">
      <%= form.select :status, statuses_hash %>
    </div>
  </div>

  <div class="user__button">
    <%= form.submit 'Сохранить', class: 'btn btn--primary' %>
  </div>
<% end %>
