<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.user.name %></td>
  <td><%= ticket.created_at.to_fs(:short) %></td>
  <td class='align-baseline'>
    <% unless ticket.department.nil? %>
      <%= ticket.department.title %>
    <% end %>
  </td>
  <td class='align-baseline'>
    <%= ticket_status_for_display(ticket.status) %>
  </td>
  <td class='align-baseline'>
    <%= link_to ticket.title, ticket %>
  </td>
</tr>
