<div class='row'>
  <div class='col' >
    <h2>Вход</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_for(resource,
      as:   resource_name,
      url:  session_path(resource_name),
      data: { turbo: false }) do |f|
    %>
      <div class="mb-2">
        <%= f.label :email, 'Почтовый адрес', class: 'form-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="mb-2">
        <%= f.label :password, 'Пароль', class: 'form-label' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div>
        <%= f.submit "Войти", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
